@import "src/styles/templates";

header.appHeader {
  font-size: 1rem; // 1em = 20px

  .container {
    @extend %withAccentBorder;

    @apply bg-primary-bg;

    @include paddingVertical(toLocalEm(8, 20));
    @include paddingHorizontal(toLocalEm(24, 20));

    border-radius: toLocalEm(8, 20);

    section.main {
      @apply flex justify-between items-center;
    }

    .separator {
      @apply mx-auto my-[.4em] bg-secondary-accent;

      height: 2px;
      width: min(100px, 100%);
      display: none;
    }

    button.burger {
      display: none;
    }

    @include endAtFixed($mobileBreakpoint) {
      --margin: 0 !important;

      border-radius: 0 0 toLocalEm(8, 20) toLocalEm(8, 20);
      padding:
              toLocalEm(16, 20)
              toLocalEm(16, 20)
              0;
      border-left: none;
      border-right: none;
      border-top: none;

      .separator, button.burger {
        display: block;
      }

      section.main {
        display: grid;
        grid-template-columns: max-content 1fr;

        nav.appNav {
          @apply mt-[.5em];

          grid-row: 2 / span 1;
          grid-column: span 2;
        }

        .logo {
          @apply justify-end inline-flex ml-auto;
        }
      }
    }
  }
}
