@import "src/styles/templates";

.pageBody {
  @apply bg-primary-bg;

  $br: .4rem;
  $cols: calc(var(--cols-count) - 2);

  border-radius: 0 0 $br $br;
  display: grid;
  grid-column: 2 / span $cols;
  grid-gap: inherit;
  grid-template-columns: repeat($cols, 1fr);
  overflow: hidden;

  @include paddingVertical(toLocalEm(32, 20));

  .scrollable {
    @extend %scrollable;

    grid-column: 2 / span calc($cols - 2);
  }

  @include endAtFixed($mobileBreakpoint) {
    grid-column: 1 / span var(--cols-count);

    @include paddingVertical(toLocalEm(24, 20));

    @apply pl-[.4em] pr-[.8em];

    .scrollable {
      grid-column: 1 / span var(--cols-count) !important;

      padding-right: .4em;
      margin-right: -.4em;
    }
  }
}
