@import "src/styles/templates";

header.pageHeader {
  $br: .4rem;

  @apply flex items-center font-medium select-none
          bg-secondary-bg text-secondary-font;

  font-size: toLocalEm(24, 20); // 1em = 24px
  gap: toLocalEm(12, 24);
  border-radius: $br $br 0 0;

  grid-column: 2 / span calc(var(--cols-count) - 2);

  @include paddingHorizontal(toLocalEm(40, 24));
  @include paddingVertical(toLocalEm(24, 24));

  svg {
    @include svgMonofill(currentColor);
  }
}
