@import "src/styles/templates";

section.cardListSection {
  svg {
    @include svgMonofill(currentColor);
  }

  article.cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include endAtFixed($mobileBreakpoint) {
      grid-template-columns: 1fr;
      gap: toLocalEm(8, 20);
    }
  }
}
