@import "src/styles/templates";

.layoutWrapper {
  @apply fixed top-0 left-0 gap-[1.2rem];

  @include paddingVertical(toLocalEm(16, 20));

  height: 100dvh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;

  main {
    overflow: hidden;
  }

  @include endAtFixed($mobileBreakpoint) {
    padding-top: 0;
  }
}
